#kemenag-logo {
  width: 40%;
  padding-bottom: 12px;
}

.sidebar-brand-text {
  margin-top: 15px;
}

.img-profile {
  width: 100px;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal-zoom {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-zoom-content {
  margin: auto;
  display: block;
  width: 35%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-zoom-content, #caption {
  -webkit-animation-name: zoom;
          animation-name: zoom;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* The Close Button */
.close-zoom {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.close-zoom:hover,
.close-zoom:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-zoom-content {
    width: 100%;
  }
}

.table-custom {
  display: table;
  width: 100%;
}

.laporan {
  height: 80px;
  color: white;
  background-color: #bbb;
}

tr td .btn {
  min-width: 230px;
}

#siaman-logo {
  width: 100%;
  position: relative;
  margin-top: -100px;
  margin-bottom: -70px;
}

#exampleInputEmail {
  position: relative;
}

#logo-dashboard {
  width: 100%;
  padding: 10%;
}

.btn-login {
  background-color: #29b5b5 !important;
  border: none;
}

.btn-login:hover {
  background-color: #259e9e !important;
}

.btn-login:active {
  background-color: #1e7a7a !important;
}

.bg-gradient-primary {
  background-color: #29b5b5;
}

#content {
  background: url("../img/bgsiamangray.png") !important;
  background-size: 500px !important;
  background-repeat: repeat !important;
}

#kemenag-logo {
  width: 40%;
  padding-bottom: 12px;
}

.sidebar-brand-text {
  margin-top: 15px;
}

.img-profile {
  width: 100px;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal-zoom {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-zoom-content {
  margin: auto;
  display: block;
  width: 35%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-zoom-content, #caption {
  -webkit-animation-name: zoom;
          animation-name: zoom;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* The Close Button */
.close-zoom {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.close-zoom:hover,
.close-zoom:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-zoom-content {
    width: 100%;
  }
}

.table-custom {
  display: table;
  width: 100%;
}

.laporan {
  height: 80px;
  color: white;
  background-color: #bbb;
}

tr td .btn {
  min-width: 230px;
}

.input-reg {
  border-radius: 80px !important;
  height: 50px;
  margin-bottom: 10px;
}

.btn-cilik {
  width: 10px !important;
}
/*# sourceMappingURL=style.css.map */

.fa-plus-square {
  color: #007bff;
}

.fa-minus-square {
  color: #dc3545;
}